
--liquibase formatted sql

--changeset amalik:1234 
	CREATE TABLE [dbo].[incorrectTableName](
		[ID_TDI] [bigint] IDENTITY(1,1) NOT NULL,
		[ID_PI] [int] NULL,
		[ID_CST] [tinyint] NULL,
		[tdi_Title] [nvarchar](255) NULL,
		[ID_CU_CreatedBy] [int] NOT NULL,
		[tdi_CreateDate] [datetime] NOT NULL,
		[ID_CU_UpdatedBy] [int] NULL,
		[tdi_UpdateDate] [datetime] NULL,
		[tdi_Active] [bit] NOT NULL,
		[tdi_Deleted] [bit] NOT NULL,
		[tdi_Code] [nvarchar](50) NULL,
	 CONSTRAINT [PK_ToDoItem] PRIMARY KEY CLUSTERED 
	(
		[ID_TDI] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

--changeset belmore:12345_TodoItem_V2 labels:PBI_12345 splitStatements:false stripComments:false runWith:sqlcmd

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

IF NOT EXISTS (SELECT * FROM SYS.tables WHERE  Name = N'ToDoItem' AND SCHEMA_NAME(schema_id) = 'dbo')
BEGIN

	CREATE TABLE [dbo].[CorrectTableName](
		[ID_TDI] [bigint] IDENTITY(1,1) NOT NULL,
		[ID_PI] [int] NULL,
		[ID_CST] [tinyint] NULL,
		[tdi_Title] [nvarchar](255) NULL,
		[ID_CU_CreatedBy] [int] NOT NULL,
		[tdi_CreateDate] [datetime] NOT NULL,
		[ID_CU_UpdatedBy] [int] NULL,
		[tdi_UpdateDate] [datetime] NULL,
		[tdi_Active] [bit] NOT NULL,
		[tdi_Deleted] [bit] NOT NULL,
		[tdi_Code] [nvarchar](50) NULL,
	 CONSTRAINT [PK_ToDoItem] PRIMARY KEY CLUSTERED 
	(
		[ID_TDI] ASC
	)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes  WHERE name= N'nci_ToDoItem_ID_PI' 
    AND object_id = OBJECT_ID('dbo.ToDoItem'))
  BEGIN
  
		CREATE NONCLUSTERED INDEX [nci_ToDoItem_ID_PI] ON [dbo].[ToDoItem]
		(
			[ID_PI] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, 
		ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
	END 
GO

IF NOT EXISTS (SELECT * FROM sys.indexes  WHERE name= N'nci_ToDoItem_IDPI_act' 
    AND object_id = OBJECT_ID('dbo.ToDoItem'))
  BEGIN  

		CREATE NONCLUSTERED INDEX [nci_ToDoItem_IDPI_act] ON [dbo].[ToDoItem]
		(
			[ID_PI] ASC,
			[tdi_Active] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, 
		ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END
GO

IF NOT EXISTS (SELECT * FROM sys.indexes  WHERE name= N'nci_ToDoItem_Title_CST' 
    AND object_id = OBJECT_ID('dbo.ToDoItem'))
  BEGIN  
		CREATE NONCLUSTERED INDEX [nci_ToDoItem_Title_CST] ON [dbo].[ToDoItem]
		(
			[tdi_Title] ASC,
			[ID_CST] ASC
		)
		INCLUDE([ID_TDI]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, 
		ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 70, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END 
GO

IF NOT EXISTS (SELECT * FROM sys.indexes  WHERE name= N'NonClusteredIndex-20140523-134202' 
    AND object_id = OBJECT_ID('dbo.ToDoItem'))
  BEGIN  

		CREATE NONCLUSTERED INDEX [NonClusteredIndex-20140523-134202] ON [dbo].[ToDoItem]
		(
			[tdi_Title] ASC,
			[ID_CST] ASC
		)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, 
		ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
END

GO

IF NOT EXISTS (SELECT  *  FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.DF_ToDoItem_tdi_Active'))
	BEGIN
		ALTER TABLE [dbo].[ToDoItem] ADD  CONSTRAINT [DF_ToDoItem_tdi_Active]  DEFAULT ((1)) FOR [tdi_Active]
	END
GO

IF NOT EXISTS (SELECT  *  FROM sys.objects WHERE object_id = OBJECT_ID(N'dbo.DF_ToDoItem_tdi_Deleted'))
	BEGIN
		ALTER TABLE [dbo].[ToDoItem] ADD  CONSTRAINT [DF_ToDoItem_tdi_Deleted]  DEFAULT ((0)) FOR [tdi_Deleted]
	END
GO


